/* Common styles */
.error {
  color: red;
}

.user {
  color: lightblue;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label[for="purpose"] {
  font-weight: bold;
}

.submit-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 5px;
}

th {
  background-color: lightgray;
}

td {
  text-align: center;
}

/* Specific styles for withoutvehicle.html */
.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deleteFrontButton {
  background-color: red;
  color: white;
}

#captureFrontButton {
  background-color: rgb(58, 86, 209);
  color: white;
}

/* Styles for the purpose select element */
#purpose {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#canvas{
  display: none;
  height:fit-content;
  width:400px;
}
#startCameraButton{
  background-color:black;
  color:white;
}
#videoFeed{
  display:none;
  height:fit-content;
  width:400px;
}
.camera{
  display:flex;
  flex-direction: column;
  align-items:center;
}

/*captured images */
#frontImage{
  max-width: 100%;
  margin-top: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 480px) {
  /* Styles for smartphones */
  .form-container {
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-label {
    font-size: 12px;
  }

  input[type="text"],
  input[type="number"] {
    font-size: 12px;
    padding: 8px;
  }

  .submit-btn {
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .user {
    font-size: 24px;
  }
}

@media screen and (min-width: 769px) {
  .user {
    font-size: 32px;
  }
}

