{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
   <title></title>
   <link rel="stylesheet" href="{% static 'css/withvehicle.css' %}">
   <style>
      video {
         border: 1px solid black;
         display: block;
         margin-bottom: 10px;
      }

      #captureFrontButton1,
      #deleteFrontButton1,
      #captureFrontButton2,
      #deleteFrontButton2 {
         display: none;
      }
   </style>
</head>
<body>
   <a href="{% url 'home' %}" class="button">Back home</a>
   <div class="container">
      <form method="post" action="{% url 'withvehicle' %}" enctype="multipart/form-data">
         {% csrf_token %}

         <div class="form-container">
          <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" placeholder="Enter Your Name" class="form-input" required>
            <span id="name-error" class="error"></span>
         </div>
         
         <div class="form-group">
            <label for="id_number" class="form-label">ID Number:</label>
            <input type="number" name="id_number" placeholder="ID Number" class="form-input" required>
            <span id="id_number-error" class="error"></span>
         </div>
         
         <div class="form-group">
            <label for="phone_number" class="form-label">Phone Number:</label>
            <input type="number" name="phone_number" placeholder="Phone Number" class="form-input" required>
            <span id="phone_number-error" class="error"></span>
         </div>
         
         <div class="form-group">
            <label for="vehicleRegistration" class="form-label">Vehicle Registration:</label>
            <input type="text" name="vehicle_registration" placeholder="Vehicle Registration" class="form-input" required>
            <span id="vehicle_registration-error" class="error"></span>
         </div>
         <div class="form-group">
          <label for="company" class="form-label">Company:</label>
          <input type="text" name="company" placeholder="Company" class="form-input" required>
          <span id="company-error" class="error"></span>
       </div>
            <div class="form-group">
               <div>
                 <label for="purpose">Purpose:</label>
                 <select id="purpose" name="purpose" class="form-input" required>
                   <option value="" selected disabled>Select Purpose</option>
                   <option value="Work">Work</option>
                   <option value="Purchase">Purchase</option>
                   <option value="Delivery">Delivery</option>
                   <option value="Official">Official</option>
                   <option value="Meeting">Meeting</option>
                   <option value="Other">Other</option>
                 </select>
               </div>
               
               <div id="other-purpose-container" style="display: none;">
                 <label for="other_purpose">Please specify:</label>
                 <input type="text" id="other_purpose" name="other_purpose" placeholder="Please specify">
               </div>
            </div>

            <div class="form-container">
               <div class="form-group">
                  <div class="camera">
                     <div id="cameraContainer1">
                        <button id="startCameraButton1">Access Camera(ID)</button>
                        <video id="videoFeed1" style="display: none;"></video>
                        <button type="button"id="captureFrontButton1">Capture ID Photo</button>
                        <canvas id="canvas1" style="display: none;"></canvas>
                        <img id="frontImage1" src="" alt="ID Photo">
                        <button type="button" id="deleteFrontButton1">Delete ID Photo</button>
                        <input type="hidden" id="id_picture_front1" name="id_picture_front1" required>
                        <span id="id_picture_front1-error" class="error"></span>
                     </div>
                  </div>
               </div>
               
               <div class="form-group">
                  <div class="camera">
                     <div id="cameraContainer2">
                        <button id="startCameraButton2">Access Camera(Vehicle)</button>
                        <video id="videoFeed2" style="display: none;"></video>
                        <button type="button" id="captureFrontButton2">Capture Vehicle Photo</button>
                        <canvas id="canvas2" style="display: none;"></canvas>
                        <img id="frontImage2" src="" alt="Vehicle Photo">
                        <button type="button"id="deleteFrontButton2">Delete Vehicle Photo</button>
                        <input type="hidden" id="id_picture_front2" name="id_picture_front2" required>
                        <span id="id_picture_front2-error" class="error"></span>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="form-group">
               <input type="submit" value="Submit" class="submit-btn">
            </div>
         </div>
         
      </form>
   </div>
</body>
<script src="{% static 'js/withvehicle.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   var video1 = document.getElementById('videoFeed1');
   var frontImage1 = document.getElementById('frontImage1');
   var deleteFrontButton1 = document.getElementById('deleteFrontButton1');
   var video2 = document.getElementById('videoFeed2');
   var frontImage2 = document.getElementById('frontImage2');
   var deleteFrontButton2 = document.getElementById('deleteFrontButton2');
   var camera1Started = false;
   var camera2Started = false;

   // Initialize ID camera
   document.getElementById('startCameraButton1').addEventListener('click', function() {
     if (!camera1Started) {
       initializeCamera(1);
       document.getElementById('startCameraButton1').disabled = true;
       document.getElementById('captureFrontButton1').style.display = 'inline-block';
       deleteFrontButton1.style.display = 'inline-block';
       camera1Started = true;
     }
   });

   // Capture ID photo
   document.getElementById('captureFrontButton1').addEventListener('click', function() {
     capturePhoto('id_picture_front1', frontImage1, 1);
     document.getElementById('captureFrontButton1').style.display = 'none';
     deleteFrontButton1.style.display = 'inline-block';
     stopCamera(1);
   });

   // Delete ID photo
   deleteFrontButton1.addEventListener('click', function() {
     deletePhoto(frontImage1, 'id_picture_front1', deleteFrontButton1, 1);
     document.getElementById('captureFrontButton1').style.display = 'inline-block';
     deleteFrontButton1.style.display = 'none';
     activateCamera(1);
   });

   // Initialize vehicle camera
   document.getElementById('startCameraButton2').addEventListener('click', function() {
     if (!camera2Started) {
       initializeCamera(2);
       document.getElementById('startCameraButton2').disabled = true;
       document.getElementById('captureFrontButton2').style.display = 'inline-block';
       deleteFrontButton2.style.display = 'inline-block';
       camera2Started = true;
     }
   });

   // Capture vehicle photo
   document.getElementById('captureFrontButton2').addEventListener('click', function() {
     capturePhoto('id_picture_front2', frontImage2, 2);
     document.getElementById('captureFrontButton2').style.display = 'none';
     deleteFrontButton2.style.display = 'inline-block';
     stopCamera(2);
   });

   // Delete vehicle photo
   deleteFrontButton2.addEventListener('click', function() {
     deletePhoto(frontImage2, 'id_picture_front2', deleteFrontButton2, 2);
     document.getElementById('captureFrontButton2').style.display = 'inline-block';
     deleteFrontButton2.style.display = 'none';
     activateCamera(2);
   });

   // Function to initialize the camera
   function initializeCamera(cameraNumber) {
     var video = document.getElementById(`videoFeed${cameraNumber}`);
     navigator.mediaDevices.getUserMedia({ video: true })
       .then(function(stream) {
         video.srcObject = stream;
         video.style.display = 'block';
         video.play();
       })
       .catch(function(error) {
         console.log(`Error accessing camera ${cameraNumber}:`, error);
       });
   }

   // Function to capture the photo
   function capturePhoto(inputFieldId, imageElement, cameraNumber) {
     var video = document.getElementById(`videoFeed${cameraNumber}`);
     var canvas = document.getElementById(`canvas${cameraNumber}`);
     var context = canvas.getContext('2d');

     // Set the canvas size to match the video size
     canvas.width = video.videoWidth;
     canvas.height = video.videoHeight;

     // Draw the current video frame onto the canvas
     context.drawImage(video, 0, 0, canvas.width, canvas.height);

     // Convert the canvas image to base64 data
     var imageData = canvas.toDataURL('image/png');

     // Set the captured image data to the appropriate input field
     document.getElementById(inputFieldId).value = imageData;

     // Display the captured image
     imageElement.src = imageData;
   }

   // Function to delete the photo
   function deletePhoto(imageElement, inputFieldId, deleteButton, cameraNumber) {
     imageElement.src = '';
     document.getElementById(inputFieldId).value = '';
     deleteButton.style.display = 'none';
   }

   // Function to stop the camera
   function stopCamera(cameraNumber) {
     var video = document.getElementById(`videoFeed${cameraNumber}`);
     var stream = video.srcObject;
     var tracks = stream.getTracks();
     tracks.forEach(function(track) {
       track.stop();
     });
     video.srcObject = null;
     video.style.display = 'none';
   }

   // Function to activate the camera
   function activateCamera(cameraNumber) {
     var video = document.getElementById(`videoFeed${cameraNumber}`);
     video.style.display = 'block';
     initializeCamera(cameraNumber);
   }

   // The script for the purpose
   var purposeSelect = document.getElementById("purpose");
   var otherPurposeContainer = document.getElementById("other-purpose-container");

   purposeSelect.addEventListener("change", function() {
     if (purposeSelect.value === "Other") {
       otherPurposeContainer.style.display = "block";
     } else {
       otherPurposeContainer.style.display = "none";
     }
   });

   // Form submission with loading indicator
   $(document).ready(function() {
     $("#submissionForm").submit(function(e) {
       e.preventDefault(); // Prevent form submission

       // Show loading or processing indicator here if desired
       // ...

       setTimeout(function() {
         // Hide the form
         $("#submissionForm").hide();

         // Show the submitted message
         $("#submittedMessage").show();
       }, 2000); // 2-second delay (2000 milliseconds)
     });
   });
</script>
</html>
{% endblock %}
